/*
*   Global style
*/
:root {
    --tag-border-radius: 8px;

    &[data-scheme="dark"] {
        --body-background: #010409;
    }
}

/*
*   Card style
*/
:root {
    &[data-scheme="dark"] {
        --card-background: #121317;
    }
}

.container {
    &.extended {
        @include respond(md) {
            max-width: 1280px;
            --left-sidebar-max-width: 20%;
            --right-sidebar-max-width: 20%;
        }

        @include respond(lg) {
            max-width: 1280px;
            --left-sidebar-max-width: 20%;
            --right-sidebar-max-width: 20%;
        }

        @include respond(xl) {
            max-width: 1280px;
            --left-sidebar-max-width: 20%;
            --right-sidebar-max-width: 20%;
        }
    }
}