/*
*   Global style
*/
:root {
    --tag-border-radius: 8px;

    &[data-scheme="dark"] {
        --body-background: #010409;
    }
}

/*
*   Card style
*/
:root {
    &[data-scheme="dark"] {
        --card-background: #121317;
    }
}

/*
*   Grid size
*/
.container {
    &.extended {
        @include respond(md) {
            max-width: 1280px;
            --left-sidebar-max-width: 20%;
            --right-sidebar-max-width: 20%;
        }

        @include respond(lg) {
            max-width: 1280px;
            --left-sidebar-max-width: 20%;
            --right-sidebar-max-width: 20%;
        }

        @include respond(xl) {
            max-width: 1280px;
            --left-sidebar-max-width: 20%;
            --right-sidebar-max-width: 20%;
        }
    }
}

/**
*   Global font family
*/
:root {
    --base-font-family: "Noto Serif SC", var(--sys-font-family), var(--zh-font-family), sans-serif;
    --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
    --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
}